<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {$meta}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    {$header}
  </head>
  <body>
    <table width="100%" height="100%" cellpadding="0" cellspacing="0" border="0" id="pm_main_table">
      <tr>
        <td id="pm_header" valign="top">
          <table width="100%" height="32" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
            <tr>
                {if $user_logged neq '' or $tracker neq ''}
                <td width="50%" rowspan="2" valign="center"><img src="{$logo_company}"/></td>
                <td width="50%" height="16" align="right" valign="top">
                  <div align="right" class="logout">
                    <small>
                    {if $user_logged neq ''}
                      {$msgVer}<label class="textBlue">{$userfullname} <a href="../users/myInfo">{$user}</a> | </label>
                      {if $switch_interface}
                      <label class="textBlue"><a href="../../uxs/home">{$switch_interface_label}</a> | </label>
                      {/if}
                        <label class="textBlue"><a href="javascript:sendUrl();">Help</a> | </label>
                      <a href="{$linklogout}" class="tableOption">{$logout}</a>&nbsp;&nbsp;<br/>
                      <label class="textBlack"><b>{$rolename}</b> {$workspace_label} <b><u>{$workspace}</u></b> &nbsp; &nbsp; <br/>
                      {$udate}</label>&nbsp; &nbsp;
                    {/if}
                    </small>
                  </div>
                </td>
                {else}
                <td width="100%" style="padding-top: 10px"><img style="display: block; margin-left: auto; margin-right: auto;" src="{$logo_company}"/></td>
                {/if}
            </tr>
            <tr>
              <td width="50%" height="16" valign="bottom" class="title">
                <div align="right"></div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" cellspacing="0" cellpadding="0" border="0" >
            <tr>
              {if $user_logged neq '' or $tracker neq ''}
              <td width="100%" class="mainMenuBG" style="height:25px">
                {include file="$tpl_menu"}
              </td>
              {else}
              <td width="100%" style="height:25px">
              </td>
              {/if}
            </tr>
            {if (count($subMenus)>0) }
            <tr>
              <td >
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr><td width="100%" class="mainMenuBG">{include file= "$tpl_submenu"}</td></tr>
              </table>
              </td>
            </tr>
            {/if}
            <tr>
              <td width="100%" align="center">
                {php}
                global $G_TEMPLATE;
                if ($G_TEMPLATE != '') G::LoadTemplate($G_TEMPLATE);
                {/php}
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr height="100%">
        <td height="100%">
          <div class="Footer">
            <div class="content">{$footer}</div>
          </div>
        </td>
      </tr>
    </table>
  </body>
    <script type="text/javascript">
        function getCookie(nombre) {literal}{{/literal}
            var nombreCookie, cookie = null, cookies = document.cookie.split(';');
            for (i=0; i<cookies.length; i++) {literal}{{/literal}
                valorCookie = cookies[i].substr(cookies[i].indexOf('=') + 1);
                nombreCookie = cookies[i].substr(0,cookies[i].indexOf('=')).replace(/^\s+|\s+$/g, '');
                if (nombreCookie == nombre) {literal}{{/literal}
                    cookie = unescape(valorCookie);
                {literal}}{/literal}
            {literal}}{/literal}
            return cookie;
        {literal}}{/literal}
        function sendUrl() {literal}{{/literal}
            var iframe = document.getElementsByTagName("iframe")[0];
            var subIframe = iframe;
            if (typeof window.frames[iframe.name] != 'undefined') {literal}{{/literal}
                var subIframe = window.frames[iframe.name].document.getElementsByTagName('iframe')[0];
                if (typeof subIframe == 'undefined') {literal}{{/literal}
                    subIframe = iframe;
                {literal}}{/literal}
            {literal}}{/literal}
            var pageURL = '';
            var valorCookie =  getCookie('onlineHelpView');
            if (valorCookie == 'edit') {literal}{{/literal}
                pageURL = '../onlineHelp/modeEdit.php?Data='+subIframe.contentDocument.URL+'&src='+subIframe.src+'&id='+subIframe.id;
            {literal}}{/literal} else {literal}{{/literal}
                pageURL = '../onlineHelp/onlineHelpAjax.php?action=popUp&Data='+subIframe.contentDocument.URL+'&src='+subIframe.src+'&id='+subIframe.id;
            {literal}}{/literal}
            var w = 840;
            var h = 500;
            var title = 'Plugin Online Help';
            var left = (screen.width/2)-(w/2);
            var top = (screen.height/2);//-(h/2);
            var targetWin = window.open (pageURL, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
        {literal}}{/literal}
    </script>
</html>